<div class="hero-unit">
	<h1>Våga Vitsa!</h1>
	<p>Våga Vitsa är en sida där man kan lägga upp vitsar. Andra personer kan då rösta på om de gillar en vits eller inte. Vitsar kategoriseras och visas beroende på hur många som gillar dem och hur populära de är. Varje vits har också en kommentarstråd där det går att diskutera vitsen.</p>
	<a href="#" class="btn btn-primary btn-large">Börja här!</a>
</div>

<div class="row">
	<div class="span4">
		<h2>Kul</h2>
		<p>
			Allt handlar om att hitta på roliga vitsar, bra som dåliga, alla är välkommna.
		</p>
		<a class="btn" href="#">Läs mer »</a>
	</div>

	<div class="span4">
		<h2>Enkelt</h2>
		<p>
			Klicka på <a href="#">Ny vits</a> för att lägga upp en ny vits. Eller läs andras vitsar.
		</p>
		<a class="btn" href="#">Läs mer »</a>
	</div>

	<div class="span4">
		<h2>Samarbeta</h2>
		<p>
			Hjälp varandra att komma på bättre vitsar genom att svara i kommentarsfältet på en vits.
		</p>
		<a class="btn" href="#">Läs mer »</a>
	</div>
</div>